<div
  *ngIf="placementService.pieces"
  class="piece-tray-container"
>
  <ng-container *ngIf="!saved; else waiting">
    <ion-chip
      *ngFor="let piece of placementService.pieces; let index = index"
      [class.selected]="index === placementService.selectedPieceIndex"
      (click)="placementService.selectPiece(index)"
    >
      <ion-label>{{ piece }}</ion-label>
    </ion-chip>

    <ion-chip
      color="primary"
      [class.disabled]="!placementService.selectedCell"
      (click)="placementService.selectPiece(placementService.pieces.length)"
    >
      Clear
    </ion-chip>

    <ion-chip
      color="success"
      [class.disabled]="placementService.pieces.length > 0"
      (click)="savePosition()"
    >
      Save
    </ion-chip>
  </ng-container>

  <ng-template #waiting>
    Waiting for others to place pieces...
  </ng-template>
</div>
