<div
  *ngIf="placementService.pieces"
  class="piece-tray-container"
>
  <ng-container *ngIf="!done; else waiting">
    <ion-chip
      *ngFor="let piece of placementService.pieces; let index = index"
      [class.selected]="index === placementService.selectedPieceIndex"
      (click)="placementService.selectPiece(index)"
    >
      <ion-label>{{ piece }}</ion-label>
    </ion-chip>

    <div class="buttons-container">
      <ion-button
        color="primary"
        [disabled]="!placementService.selectedCell"
        (click)="placementService.selectPiece(placementService.pieces.length)"
      >
        Clear
      </ion-button>

      <ion-button
        color="success"
        [disabled]="placementService.pieces.length > 0"
        (click)="savePosition()"
      >
        Save
      </ion-button>
    </div>
  </ng-container>

  <ng-template #waiting>
    Waiting for others to place pieces...
  </ng-template>
</div>
