.outcome-feed-container {
  width: 300px;
  border: 1px solid #000;

  .outcome {
    padding: 15px 20px;
  }

  .nothing {
    padding: 15px 20px;
  }

  .tile {
    height: 30px;
    width: 30px;
    border: 1px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}