<section id="board" [class]="rotateClass">
  <div
    class="map-container"
    *ngFor="let item of [].constructor(board.height); let row = index"
  >
    <str-game-tile
      *ngFor="let item of [].constructor(board.width); let col = index"
      [game]="game"
      [position]="position"
      [row]="row"
      [col]="col">
    </str-game-tile>
  </div>
  <div class="join-button team-1" *ngIf="showButton(0)">
    <ion-button color="danger" (click)="joinTeam(0)" [disabled]="disabled(0)">{{label(0)}}</ion-button>
  </div>
  <div class="join-button team-2" *ngIf="showButton(1)">
    <ion-button color="primary" (click)="joinTeam(1)" [disabled]="disabled(1)">{{label(1)}}</ion-button>
  </div>
  <div class="join-button team-3" *ngIf="showButton(2)">
    <ion-button color="success" (click)="joinTeam(2)" [disabled]="disabled(2)">{{label(2)}}</ion-button>
  </div>
  <div class="join-button team-4" *ngIf="showButton(3)">
    <ion-button color="warning" (click)="joinTeam(3)" [disabled]="disabled(3)">{{label(3)}}</ion-button>
  </div>
</section>