<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="game$ | async as game">
      {{ game.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="centered-container">
    <!-- game is loaded state -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <ng-container *ngIf="game.board; else creating">
        <str-board
          [game]="game">
        </str-board>
      </ng-container>
      <ng-template #creating>
        <h1>Creating game...</h1>
      </ng-template>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <h1>Loading...</h1>
    </ng-template>
  </section>
</ion-content>
