<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="game$ | async as game">
      {{ game.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="centered-container">
    <!-- game is loaded state -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <ng-container *ngIf="game.board; else creating">
        <str-board
          [myTurn]="myTurn"
          [game]="game"
          [position]="position">
        </str-board>

        <!-- controls for players in the game -->
        <ng-container *ngIf="playing">
          <str-piece-tray
            *ngIf="game.phase === 'placement'"
            [game]="game"
            [position]="playerPosition">
          </str-piece-tray>

          <ng-container *ngIf="game.phase === 'playing'">
            <div *ngIf="myTurn">Your Turn</div>
            <div *ngIf="!myTurn">Waiting for opponent to play...</div>
          </ng-container>
        </ng-container>

      </ng-container>
      <ng-template #creating>
        <h1>Creating game...</h1>
      </ng-template>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <h1>Loading...</h1>
    </ng-template>
  </section>
</ion-content>
