<ion-header>
  <ng-container *ngIf="game$ | async as game">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ game.name }}
      </ion-title>
      <ion-buttons slot="end" *ngIf="game.phase === 'playing'">
        <ion-button color="primary" fill="clear">
          Turn {{ game?.state?.turn + 1}}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar >
      <ion-title mode="ios" class="scores-toolbar">
        <div class="score" *ngFor="let player of game?.state?.players" [style.background]="backgroundColor(player, game)">
          {{ player.score }}
        </div>
      </ion-title>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <section class="centered-container">
    <!-- game is loaded state -->
    <ng-container *ngIf="game$ | async as game; else loading">
      <ng-container *ngIf="game.board; else creating">
        <str-board
          [myTurn]="myTurn"
          [game]="game"
          [position]="position">
        </str-board>

        <!-- controls for players in the game -->
        <ng-container *ngIf="playing">
          <str-piece-tray
            *ngIf="game.phase === 'placement'"
            [game]="game"
            [position]="playerPosition">
          </str-piece-tray>
          <div *ngIf="game.phase === 'playing'">
            {{ myTurn ? 'Your Turn' : 'Waiting for opponent to play...' }}
          </div>
        </ng-container>

        <str-outcome-feed
          *ngIf="game && game.phase === 'playing'"
          [game]="game">
        </str-outcome-feed>

      </ng-container>
      <ng-template #creating>
        <h1>Creating game...</h1>
      </ng-template>
    </ng-container>

    <!-- loading state -->
    <ng-template #loading>
      <h1>Loading...</h1>
    </ng-template>
  </section>
</ion-content>
