<ion-content>
  <section class="centered-container">
    <div class="start-game-container">
      <img src="../../../assets/banner.png">

      <ion-input #gameName placeholder="Custom Game Code" (keyup.enter)="createGame(gameName.value)"></ion-input>

      <ion-button (click)="createGame(gameName.value)" [disabled]="!gameName.value">
        Play
      </ion-button>

      <ion-button (click)="mapService.createDefaultMap()" disabled>
        Default
      </ion-button>
    </div>
  </section>
</ion-content>
