
.game-tile-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  padding: 2px;
  border: 1px solid #333;
  pointer-events: none;

  &.selected {
    border: 3px solid #333;
    opacity: 1 !important;
  }

  &.selectable {
    cursor: pointer;
    pointer-events: initial;

    &:hover {
      opacity: .7;
    }
  }
}
