
.game-tile-container {
  justify-content: center;
  align-items: center;
  height: 100%;

  font-size: 0.75rem;
  padding: 2px;
  min-height: 3rem;
  min-width: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  border: 1px solid black;

  &.selected {
    border-color: pink;
  }
}
