
.game-tile-container {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  padding: 2px;
  min-height: 3rem;
  min-width: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  border: 1px solid black;
  opacity: .5;

  &.selected {
    opacity: 1;
  }
}
